<button onclick="alert('sadasd')">click me</button>

<!-- 
    onclick
    onload
    onmousehover
    onmouseup
    onmousedown
    onchange
    doubleclick
    onkeyup
    onkeydown
    onkeypress
-->

<script>

    function getData() {
        var a = 10;
        var b = 130;
        var v = 103;
        var as = 1044;

        alert('adasd');
    }


    // var firstName = 'Manoj';
    // var lastName = 'Nishad';
    // var village = 'godhi';
    // var city = 'raipur';
    // var district = 'raipur';
    // var country = 'india';
    // var planet = 'earth';
    // var pin = '1233456';

    // console.log(firstName);
    // console.log(lastName);

    // console.log(`${firstName}    ${lastName}`);

    // console.log(firstName+" "+lastName+" "+village+" "+district+" "+country+" "+planet+ " "+pin);






</script>